/* Team - Core/Members part*/



.core {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 160px; 
    border-bottom: 1px solid black; 
}


.core-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black; 
    border-radius: 40px;
    padding: 20px 50px 40px 50px;
    gap: 20px;
}

.core-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.control {
    width: 40px;
    height: 40px;
    border: none; 
    border-radius: 50%;
    transition: all 0.15s;
}
.control svg {
    width: 30px; 
    height: 30px;
}
.control:hover {
    cursor: pointer;
}

.arrow-right {
    background-color: var(--primary);    
    color: white;
}




.core-list, .members-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow-x: auto;
}

.core-member, .member-list {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    width: 320px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.avatar img {
    width: 210px;
    border: 5px solid var(--primary); 
    border-radius: 50%;
}

.card {
    background-color: var(--primary);
    border: none; 
    border-radius: 20px;
    padding-top: 120px;
    margin-top: -90px;
    width: 320px; 
}

.name {
    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;
}

.position {
    font-size: 25px;
    white-space: nowrap;
}

.contact {
    font-size: 25px; 
    padding: 50px 0; 
    white-space: nowrap;
}

.contact-logo {
    display: flex;
    align-items: center;
}
.contact-wrapper {
    display: flex;
    justify-content: center;
}
.contact-link {
    margin-left: .5rem
}