@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --hero: #0F172A; 
    --bg: #F8FAFC; 
    --primary: #0EA5E9; 
}
body {
    background-color: var(--hero);
}
.bg-light-round-white {
    background-color: var(--bg);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.text-header {
    font-family: Nunito, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
}
.header {
    position: sticky;
    top: 0;
}
.py-10 {
    background-color: var(--hero);
}
.greeting-pg {
    margin-left: -10px;
    padding-left: 10px;
    border-left-color: var(--primary);
    border-left-width: 4px;
}

.bg-white {
    background-color: #ffffff;

}

/* Swiper Slide */
.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .greeting {
        padding-top: 150px;
    }
}



