@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --hero: #0F172A; 
    --bg: #F8FAFC; 
    --primary: #0EA5E9; 
}
body {
    background-color: var(--hero);
}
.bg-light-round-white {
    background-color: var(--bg);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.text-header {
    font-family: Nunito, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
}
.header {
    position: sticky;
    top: 0;
}

.greeting-pg {
    margin-left: -10px;
    padding-left: 10px;
    border-left-color: var(--primary);
    border-left-width: 4px;
}

.bg-white {
    background-color: #ffffff;

}
.bg-dark {
    background-color: var(--hero);
}
.return-btn {
    color: #ffffff;
}
.return-wrapper {
    background-color: var(--hero)
}
/* Swiper Slide */
.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}


/* Back to top button */
#button {
    display: inline-block;
    background-color: var(--hero);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: var(--primary);
  }
  #button:active {
    background-color: #fff;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
    }

@media screen and (max-width: 768px) {
    .greeting {
        padding-top: 150px;
    }
}



